<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="kr">
<head th:replace="fragment :: head">
    <title>레시피 북</title>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main class="d-flex flex-column justify-content-center w-100 container my-1">
    <div class="d-flex flex-row-reverse my-2">
        <div class="d-flex flex-row">
            <a class="btn btn-secondary mr-2" th:if="${view.after != null}" th:href="@{/recipe/{id}(id=${view.after}, page=${page}, size=${size})}">다음글</a>
            <a class="btn btn-secondary mr-2" th:if="${view.before != null}" th:href="@{/recipe/{id}(id=${view.before}, page=${page}, size=${size})}">이전글</a>
            <a class="btn btn-primary" th:href="@{/recipe(page=${page}, size=${size})}">목록</a>
        </div>
    </div>
    <div class="mt-3" th:object="${view}">
        <div class="row container mx-auto">
            <div class="carousel slide col-md mb-3 mb-md-0" id="thumbnails">
                <ol class="carousel-indicators">
                    <li th:each="thumbnail, stat : *{thumbnails}" th:attr="data-slide-to=${stat.index}" data-target="#thumbnails" th:classappend="${stat.index == 0} ? 'active'"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="thumbnail, stat : *{thumbnails}" th:classappend="${stat.index == 0} ? 'active'">
                        <img class="d-block w-100" style="height: 400px;" alt="..." src="" th:alt="${thumbnail}" th:src="${thumbnail}">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#thumbnails" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span></a>
                <a class="carousel-control-next" href="#thumbnails" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-md">
                <h5 th:text="*{title}">제목</h5>
                <table class="table">
                    <tbody>
                        <tr><td>조회수</td><td th:utext="*{views}"></td></tr>
                        <tr><td>작성자</td><td th:utext="*{writer.nickname}"></td></tr>
                        <tr>
                            <td>작성일</td>
                            <th:block th:if="${view.createDate.isAfter(yesterday)}">
                                <td class="date" th:text="${#temporals.format(view.createDate, 'HH:mm')}">작성일</td>
                            </th:block>
                            <th:block th:if="!${view.createDate.isAfter(yesterday)}">
                                <td class="date" th:text="${#temporals.format(view.createDate, 'dd-MM')}">작성일</td>
                            </th:block>
                        </tr>
                        <tr><td>댓글수</td><td th:utext="*{commentCount}"></td></tr>
                        <tr><td>추천수</td><td th:utext="*{recommendationCount}"></td></tr>
                        <tr>
                            <td></td>
                            <td class="container">
                                <div class="row">
                                    <th:block th:if="${recommended}">
                                        <a class="btn btn-primary mr-2 mb-2" th:href="@{/recipe/{id}/recommendation/delete(id=${id}, page=${page}, size=${size})}">추천 취소하기</a>
                                    </th:block>
                                    <th:block th:unless="${recommended}">
                                        <a class="btn btn-primary mr-2 mb-2" th:href="@{/recipe/{id}/recommendation/create(id=${id}, page=${page}, size=${size})}">추천하기</a>
                                    </th:block>
                                    <th:block th:if="${editable}">
                                        <form id="delete-form" th:action="@{/recipe/{id}/delete(id=${id}, page=${page}, size=${size})}" method="post"></form>
                                        <a class="btn btn-secondary mr-2 mb-2" th:href="@{/recipe/{id}/update(id=${id}, page=${page}, size=${size})}">수정하기</a>
                                        <input class="btn btn-danger mb-2" type="button" value="삭제하기" onclick="del()">
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="mx-2">
        <div class="row mb-5">
            <div class="w-100 ml-5 mr-5" style="overflow-x: hidden" th:utext="*{content}">본문</div>
        </div>
        <hr class="mx-2">
        <h5 class="ml-2">댓글들</h5>
        <hr class="mx-2">
        <div class="card w-100 mb-1" th:each="comment : *{commentList}" th:id="|comment-| + ${comment.id}">
            <th:block>
                <div class="card-body">
                    <h5 class="card-title" th:text="${comment.writer.nickname}">사용자 이름</h5>

                    <div class="d-block" th:id="|comment-|+${comment.id}+|-view|" >
                        <div class="container">
                            <div class="row justify-content-between">
                                <p class="card-text" th:text="${comment.content}">댓글 내용</p>
                                <th:block th:if="${comment.createDate.isAfter(yesterday)}">
                                    <p th:text="${#temporals.format(comment.createDate, 'HH:mm')}">작성일</p>
                                </th:block>
                                <th:block th:unless="${comment.createDate.isAfter(yesterday)}">
                                    <p th:text="${#temporals.format(comment.createDate, 'dd-MM')}">작성일</p>
                                </th:block>
                            </div>
                        </div>
                        <div class="container" th:if="${@securityUtil.checkEditable(comment)}">
                            <div class="row">
                                <th:block>
                                    <input class="btn btn-secondary mr-2" type="button" value="수정하기" onclick="showCommentEditor(0)" th:onclick="|showCommentEditor(| + ${comment.id} + |)|">
                                    <form th:id="|comment-|+${comment.id}+|-delete-form|" th:action="@{/recipe/{recipeId}/comment/{commentId}/delete(recipeId=${id}, commentId=${comment.id}, page=${page}, size=${size})}" method="post"></form>
                                    <input class="btn btn-danger" type="button" value="삭제하기" onclick="deleteComment(0)" th:onclick="|deleteComment(| + ${comment.id} + |)|">
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="d-none" th:id="|comment-|+${comment.id}+|-editor|" th:if="${@securityUtil.checkEditable(comment)}">
                        <form th:action="@{/recipe/{recipeId}/comment/{commentId}/update(recipeId=${id}, commentId=${comment.id}, page=${page}, size=${size})}" method="post">
                            <div class="form-group">
                                <label class="d-none" for="comment-update-input">댓글 수정</label>
                                <input type="text" class="form-control" id="comment-update-input" name="content" required th:value="${comment.content}">
                            </div>
                            <button type="submit" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" onclick="hideCommentEditor(0)" th:onclick="|hideCommentEditor(| + ${comment.id} + |)|">취소</button>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block sec:authorize="isAuthenticated()">
            <hr class="mx-2">
            <div class="card w-100">
                <div class="card-body">
                    <form th:action="@{/recipe/{recipeId}/comment/new/create(recipeId=${id}, page=${page}, size=${size})}" method="post">
                        <div class="form-group">
                            <label for="comment-input">댓글 입력</label>
                            <input type="text" class="form-control" id="comment-input" name="content" required>
                        </div>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
</main>
<script>
    function del() {
        document.getElementById("delete-form").submit();
    }

    function deleteComment(id) {
        document.getElementById("comment-" + id + "-delete-form").submit();
    }

    function showCommentEditor(id) {
        let view = $("#comment-" + id + "-view");
        view.addClass("d-none");
        view.removeClass("d-block");

        let editor = $("#comment-" + id + "-editor");
        editor.addClass("d-block");
        editor.removeClass("d-none");
    }

    function hideCommentEditor(id) {
        let view = $("#comment-" + id + "-view");
        view.removeClass("d-none");
        view.addClass("d-block");

        let editor = $("#comment-" + id + "-editor");
        editor.removeClass("d-block");
        editor.addClass("d-none");
    }
</script>
</body>
</html>
