<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="fragment :: head">
    <title>레시피 북</title>
</head>
<body>
<header th:replace="/fragment :: header"></header>
<main class="d-flex flex-column justify-content-center w-100 container mt-1">
    <div class="d-flex flex-row-reverse mb-3">
        <div class="d-flex flex-row">
            <a class="btn btn-secondary mx-2" th:if="${post.after != null}" th:href="@{/post/{id}(id=${post.after}, page=${page}, size=${size})}">다음글</a>
            <a class="btn btn-secondary mx-2" th:if="${post.before != null}" th:href="@{/post/{id}(id=${post.before}, page=${page}, size=${size})}">이전글</a>
            <a class="btn btn-primary ms-2" th:href="@{/post(page=${page}, size=${size})}">목록</a>
        </div>
    </div>
    <table th:object="${post}" border="1">
        <tr><td>제목</td><td th:text="*{title}"></td></tr>
        <tr><td>본문</td><td th:utext="*{content}"></td></tr>
        <tr><td>본문</td><td th:utext="*{views}"></td></tr>
        <tr><td>작성자</td><td th:utext="*{owner.nickname}"></td></tr>
        <tr>
            <td>작성일</td>
            <th:block th:if="#{*{createDate}.isAfter(${yesterday})}">
                <td class="date mx-1"  th:text="${#temporals.format(post.createDate, 'HH:mm')}">작성일</td>
            </th:block>
            <th:block th:if="!#{*{createDate}.isAfter(${yesterday})}">
                <td class="date mx-1" th:text="${#temporals.format(post.createDate, 'dd-MM')}">작성일</td>
            </th:block>
        </tr>
        <tr><td></td><td>
            <a class="btn btn-primary ms-2" th:href="@{/post(page=${page}, size=${size})}">목록으로</a>
            <a class="btn btn-primary ms-2" th:href="@{/post/{id}/update(id=${id}, page=${page}, size=${size})}">수정하기</a>
        </td></tr>
    </table>
</main>
</body>
</html>
